

{{#each data}}

<div class="user-name">
  <p class='user'>Posted by {{this.author}}</p> <br>
  <p class="date">{{this.date}}</p>
</div>

<div class="bookmark"></div>
<div class='feature-button' id={{this.id}}></div>

<script type="text/javascript">
    var aTag = document.createElement('a');
    aTag.innerHTML = 'delete';
    aTag.id = {{this.id}};
    aTag.href = "/dashboard/" + window.location.href.match(/dashboard\/([a-z]+)/)[1] + "/" + {{this.id}} + "/delete";
    document.getElementById('{{this.id}}').appendChild(aTag);

    var bTag = document.createElement('a');
    bTag.innerHTML = 'edit';
    bTag.id = {{this.id}};
    bTag.href = "/dashboard/" + window.location.href.match(/dashboard\/([a-z]+)/)[1] + "/edit-post/" + {{this.id}};
    document.getElementById('{{this.id}}').appendChild(bTag);

</script>



<div class="post">
    <h3>{{this.title}}</h3>
    <div class="content">
        {{this.blog}}
    </div>
</div>

{{/each}}
