<div class="form">
  <form id="new-post"  method="post">
      <input class='add-title' name="title" type="text" placeholder="Title"> <br>
      <textarea class='add-content' name="blog" rows="15" cols="100" placeholder="Your post content"></textarea> <br>
      <button class='publish' type="submit"><span>Publish</span></button>
  </form>
</div>
<script type="text/javascript">
    document.getElementById("new-post").action = "/dashboard/" + window.location.href.match(/dashboard\/([a-z]+)/)[1] + "/publish";
</script>
