<div class="form">
  <form id="new-post"  method="post">

      <input class='add-title' name="title" type="text" placeholder="Title" value="{{data.title}}"><br>
      <textarea id='text-area' class='add-content' name="blog" rows="15" cols="100" placeholder="Your post content">{{ data.blog }}</textarea> <br>
      <button class='publish' type="submit"> <span id="pubsave"></span></button>
  </form>
</div>
<script type="text/javascript">
    if (window.location.href.indexOf("edit-post") > -1) {
        document.getElementById("new-post").action = "/dashboard/" + window.location.href.match(/dashboard\/([a-z]+)/)[1] + "/save/" + window.location.href.match(/edit-post\/([0-9]+)/)[1];
        document.getElementById("pubsave").innerHTML = "Save";
    } else {
        document.getElementById("new-post").action = "/dashboard/" + window.location.href.match(/dashboard\/([a-z]+)/)[1] + "/publish";
        document.getElementById("pubsave").innerHTML = "Publish";
    }

</script>
