<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../../public/style.css">
        <title>Console.Blog</title>
    </head>
    <body>
      <div class="header">
        <h1>console.blog</h1>
        <a id="add" class='add-button'>Add</a>
        <script type="text/javascript">
            document.getElementById("add").href = "/dashboard/" + window.location.href.match(/dashboard\/([a-z]+)/)[1] + "/new-post";
        </script>
      </div>
        {{{content}}}
    </body>
</html>
